@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-slate-900 text-white
}
.bg {
  background-color: red;
}

h1 {
  @apply text-2xl
}
h2 {
  @apply text-xl
}

.btn {
  @apply bg-sky-500 rounded-xl px-3 transition disabled:opacity-50 disabled:pointer-events-none
}

.btn.active {
  @apply bg-orange-500
}
